Checks:
    - '*'
    - '-llvmlibc-*'
    - '-abseil-*' # Note: not using abseil
    - '-readability-redundant-access-specifiers'
    # TODO(Caetano): Perhaps figure out how to set MinimumLineLength for these
    - '-readability-braces-around-statements'
    - '-readability-function-cognitive-complexity'
    - '-google-readability-braces-around-statements'
    - '-hicpp-braces-around-statements'
    - '-fuchsia-overloaded-operator'
    - '-fuchsia-default-arguments-calls'
    - '-fuchsia-default-arguments-declarations'
    - '-modernize-use-trailing-return-type'
    - '-misc-non-private-member-variables-in-classes'
    - '-altera-unroll-loops'
    - '-altera-struct-pack-align' # Maybe uncomment this to discover some true inefficiencies
    - '-altera-id-dependent-backward-branch'
    - '-llvm-header-guard'
    - '-readability-identifier-length'
    - '-cppcoreguidelines-pro-bounds-pointer-arithmetic'
HeaderFilterRegex: ".*"
WarningsAsErrors: "*"